body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 10px;
}

a {
  text-decoration: none;
}

h1, h3 {
  text-align: center;
}

h3{
  font-size: 18px !important;
}

.filter-option {
  background-color: lightgray;
   padding: 2px;
   margin:5px;
   font-size: 14px;
   border-radius: 5px;
   display: inline-block;
}

.btn-delete-filter {
  margin-left: 8px;
  margin-right: 3px;
  font-weight: bold;
  cursor: pointer;
}

.btn-delete-filter:hover {
  font-size: 14px;
  float: right;
}

.MuiTypography-root {
  text-align: center;
  margin-top: 20px !important;
}

.MuiPagination-root {
  display: block !important;
  margin: auto !important;
}

.form-control {
  display: inline-block;
}